body{
    max-width: 50%;
}
.image{
    border:2px solid red;
    float: left;;
}

img {
    margin-bottom: 1em;
    border: 2px solid #41403e;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
  }

  h2 {
    float: left;
  }

  .options {
    padding-top: 10px;
    text-align: left;
  }
  .img {
    margin: 1em;
    padding: 1em;
    width: 20rem;
    display: block;
  }
  .star{
   color: "#86a361";
  }

   input[disabled]{
    background-color:gray;
  }